<%=form_with model: @article do |form|%>
  <div class="mb-3">
    <%=form.label :title, class:"form-label"%><br>
    <%=form.text_field :title, class:"form-control"%>
    <%article.errors.full_messages_for(:title).each do |message|%>
      <div><%=message%></div>
    <%end%>
  </div>
  <div>
    <%=form.label :body%><br>
    <%=form.text_area :body, class:"form-control", id:"exampleFormControlTextarea1", rows:"3"%>
    <%article.errors.full_messages_for(:body).each do |message|%>
      <div><%=message%></div>
    <%end%>
  </div>
  <div>
    <br>
    <%=form.label :status, class:"form-label"%><br>
    <%=form.select :status, ['public', 'private', 'archived'], selected: 'public', class:"form-select"%>
  </div>
  <div>
    <br>
    <%=form.submit class:'btn btn-dark'%>
  </div>
<%end%>
